.square {
    text-align: center;
    font-size: 80px;
    height: 98px;
    width: 81px;
    border: 1px solid darkgray;
    background: ghostwhite;
}

.square:hover {
    background: lightgray;
	border: 1px solid darkgray;
}

.gameTitle {
    margin: 0 auto;
	width: 188px;
    font-size: 36px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.container {
    width: 600px;
    margin: 0 auto;
}

.info {
    text-align: center;
    border-radius: 20px 20px 0px 0px;
    width: 257px;
    font-size: 25px;
    padding-top: 6px;
    color: white;
    height: 35px;
    margin: 0 auto;
    background: cadetblue;
    transition: background 0.7s ease-out;
}
.info.active {
    opacity: 1;
    background: darkgreen;
}

.playerWon {
    width: 207px;
    font-size: 20px;
    padding-left: 52px;
    padding-top: 6px;
    color: white;
    height: 35px;
    margin: 0 auto;
    background: darkgreen;
    transition: opacity 1s ease-out;
    opacity: 0; 
}

table {
    margin: -2px auto;
}